description = "Default layout"
==
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name= "desciption" content= "Waterscouting Jan van Gent">
        <meta http-equiv= "author" content="Y.J.J. Heuts">
        <link rel="stylesheet" href="{{ 'assets/css/styles.css'|theme }}" >
        <link rel="stylesheet" href="{{ 'assets/css/headerfooternav.css'|theme }}" >

        <title>Waterscouting Jan van Gent</title>
        {% styles %}
    </head>

    <body>

        <header>
          {% partial "header" %}
        </header>
        <div class="wrapper">
        <nav class = "navigation">
          {% partial "navigation"%}
        </nav>


        <div class="grid">
        <div class="gallery item-1">
            {% partial "slideshow"%}
        </div>

        <article class = "content item-2">
        {% partial "Blog" %}
        </article>

        <article class="content item-3">
          {% page %}
        </article>

        <div class="item-4">
          <h2>Locatie</h2>
          <iframe width="450" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=waterscouting%20jan%20van%20gent&key=AIzaSyCQTgIbE5j55wjrr1cKa-DGh5uXsgs_iXA" allowfullscreen></iframe>
        </div>

        <article class = "content item-5">
         {% partial "sidebarHomepage" %}
        </article>

        <article class = "item-6">
          {% content "sponsors"%}
        </article>

    </div> <!-- grid -->
    </div> <!-- wrapper -->
    <footer>
        {% partial "footer" %}
    </footer>
        <!-- Scripts -->
        <script src="{{ 'assets/js/jquery.js'|theme }}"></script>
        <script src="{{ 'assets/js/app.js'|theme }}"></script>
        {% framework extras %}
        {% scripts %}
    </div>
    </body>
</html>
